@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

/* Scrollbar Styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #353535 transparent;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #121212;
}

*::-webkit-scrollbar-thumb {
  background-color: #353535;
  border-radius: 5px;
  border: 2px solid #121212;
}

/* Color Scheme */
:root {
  --text-color: #fff;
  --background-color: #191919;
  --button-bg: #171717;
  --button-hover: #212121;
}

body {
  font-family: "Inter";
  background: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* Skip Button */
.app-skip-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 2%;
  right: 2%;
  background-color: var(--button-bg);
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5em 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.app-skip-btn:hover {
  background: var(--button-hover);
}

.loadingBlock {
  height: 100vh;
  display: grid;
  place-items: center;
}

/* Typography */
h1, h2, h3 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

/* Accessibility */
@media (prefers-color-scheme: dark) {
  iframe[src*="disqus.com"] {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  iframe[src*="disqus.com"] {
    color-scheme: light;
  }
}
